<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lpim.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="lpim.main.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="lpim.main.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="lpim.main.manual.MReminder"
            android:label="@string/mr_name" >
            <intent-filter>
                <action android:name="lpim.main.manual.MREMINDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="lpim.main.intelligent.IReminder"
            android:label="@string/ir_name" >
            <intent-filter>
                <action android:name="lpim.main.intelligent.IREMINDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="lpim.main.receipt.EnterReceipt"
            android:label="@string/er_name" >
            <intent-filter>
                <action android:name="lpim.main.receipt.ENTERRECEIPT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="lpim.main.shopping.ShoppingSetting"
            android:label="@string/ss_name" >
            <intent-filter>
                <action android:name="lpim.main.shopping.SHOPPINGSETTING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="lpim.main.manual.product.MProductActivity"
            android:label="@string/mr_pr_name" >
            <intent-filter>
                <action android:name="lpim.main.manual.product.MPRODUCTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="lpim.main.manual.MCategory"
            android:label="@string/ss_name" >
            <intent-filter>
                <action android:name="lpim.main.manual.MCATEGORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" >
    </uses-permission>

</manifest>